.container {
	display: flex;
	flex-direction: column;
	gap: 8px;
	max-width: 800px;
	width: 100%;
	margin: 24px auto 0;
	padding: 16px;
	background-color: #f8f9fa;
	border-radius: 8px;
}

.buttonGroup {
	display: flex;
	justify-content: flex-end;
}

.runButton {
	font-size: 16px;
	font-weight: bold;
	padding: 6px 12px;
	background-color: #ffffff;
	border-radius: 8px;
	cursor: pointer;
}

.runButton:hover {
	background-color: #f1f3f5;
}
